.vehicle-form-container {
  background: white;
  padding: 40px;
  margin: 40px auto;
  border-radius: 12px;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.vehicle-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #052659;
  text-align: center;
}

.vehicle-form-container input,
.vehicle-form-container textarea,
.vehicle-form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.first-section {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.popup-buttons .btn {
  background: #4CAF50;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.popup-buttons .btn:hover {
  background: #45a049;
}

.cancel-btn {
  background: #ccc;
  color: black;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
}

.manage-btn {
  display: flex;
  gap: 10px;
  /* مسافة بين الزرين */
}

.order-btn {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

/* زر Edit */
.edit-btn {
  background-color: #007bff;
  /* أزرق */
  border-radius: 8px;
  /* حواف مدورة خفيفة */
}

.edit-btn:hover {
  background-color: #0056b3;
  /* أزرق أغمق عند hover */
}

/* زر Delete */
.delete-btn {
  background-color: #de2222;
  /* أحمر */
  border-radius: 8px;
  /* نفس الحواف المدورة */
}

.delete-btn:hover {
  background-color: #a61717;
  /* أحمر أغمق عند hover */
}